@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Saira", sans-serif;
    font-weight: normal;
    font-size: 16px;
    overflow: hidden;
}

body{
    position: absolute;
    background-color: blueviolet;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100dvh;
    flex-wrap: nowrap; */
}
/*MENU*/
nav{
    display: block;
    margin: 5px 15px;
}
nav img{
    display: block;
    width: 10dvh;
}

nav ul{
    display: none;
}

nav img:hover{
    background-color: aqua;
}

/**CARDBOARD**/
#cardboard{
    background-color: yellow;
    /* margin: 0px auto;
    display: flex;
    max-height: 300px;
    max-width: 95%;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    overflow-y: hidden;
    overflow-x: auto; */

    max-height: 300px;
    position: fixed;
    bottom: 0;
    overflow: hidden;
}

.card{
    /*designer base*/
    background-color: antiquewhite;
    text-align: center;
    margin: 5px;
    width: 160px;
    height: 250px;
    border-radius: 15px;

    /*posicionamento*/
    display: inline-block;
    position: relative;
    bottom: 10%;
}

.card p{
    font-size: clamp(1.2rem, 0.5rem + 1.5vw, 1.25rem);
}

.card:hover{
    position: absolute;
    z-index: 1;
    width: 250px;
    margin-bottom: 50px;
    transition: 0.3s;
}

.card:not(:hover ){
    transition: 0.3s;
}

#card1{

}
#card2{
    
}
#card3{
    
}
#card4{
    
}
#card5{
    
}